<div id="form1" class="container-fluid">

  <h2 class="title1 text-center mb-5 mt-4">
    PREENCHA OS CAMPOS ABAIXO PARA ACESSAR O EVENTO:
    <br>
    <span>
      FILL THE BLANKS BELOW TO ACCESS THE EVENT:
    </span>
  </h2>

  <form class="mb-5" (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="!showLink">
    <div class="row g-3 align-items-center">
      <div class="col-sm-5" [ngClass]="applyCssError('name')">
        <label for="staticEmail2" class="form-label">NOME COMPLETO / FULL NAME</label>
        <input type="text" class="form-control" formControlName="name" id="staticEmail2">
      </div>
      <div class="col-sm-5" [ngClass]="applyCssError('email')">
        <label for="inputPassword2" class="form-label">E-MAIL</label>
        <input type="email" class="form-control" formControlName="email" id="inputPassword2">
      </div>
      <div class="col-sm-2 align-self-end">
        <button type="submit" class="btn btn-primary d-block m-auto ">ACESSAR / ACCESS</button>
      </div>
    </div>
  </form>

  <div class="row mb-5" *ngIf="showLink">
    <div class="col text-center">
      <div role="alert" class="alert alert-success m-auto mb-4 mt-4" style="max-width: 900px;">Enviado com sucesso / Sent with success <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> </div>

      <a href="{{link}}" target="_blank" class="link-de-acesso btn btn-primary">LINK DE ACESSO / ACCESS LINK</a>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-6 mb-4" *ngFor="let info of infos">

      <div class="box-infos">
        <h2> {{ info.blocoName}} </h2>

        <div class="itens" *ngFor="let infoItem of info.listInfos">
          <div class="info1"> <span class="separeted">/// </span><b>
              <div [innerHTML]="infoItem.info1"></div>
            </b> </div>
          <div class="info2">
            <div [innerHTML]="infoItem.info2"></div>
          </div>


        </div>

      </div>


    </div>



  </div>


</div>