#form1 {
    max-width: 990px;

    .form-control {
        background: #e7e7e7;
        border: none;
        border-radius: 20px;
        width: 100%;
    }
    
    .btn.btn-primary {
        border-radius: 20px;
        font-size: 12px;
        font-weight: 600;
        background-color: #6191c2;
        border-color: #6191c2;
        width: 230px;
        width: 100%;
    }

    .form-label {
        padding-left: 15px;
        font-weight: 600;
        color: #737373;
    }

    .box-infos {
        background: #e7e7e7;
        padding: 30px;
        border-radius: 12px;
        color: #848484;
        min-height: 684px;
        margin-bottom: 25px;
        height: calc(100%);
    }
    
    .box-infos h2 {
        font-size: 21px;
        font-weight: 700;
        border-bottom: 1px solid #848484;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .box-infos .info1 {
        font-size: 17px;
    }
    
    .box-infos .info2 {
        font-size: 12px;
        font-weight: 500;
    }

    .box-infos .itens {
        margin-bottom: 15px;
    }

    .box-infos p {
        line-height: 15px;
        margin-bottom: 0;
    }

    .itens > div {
        display: inline-flex;
        width: 100%;
    }
    span.separeted {
        margin-right: 1px;
    }

    .title1 {
        font-size: 26px;
        font-weight: 500;
        color: #747474;
        line-height: 38px;
    }
    
    .title1 span {
        font-weight: 300;
    }

    .link-de-acesso {
        max-width: 500px;
    }

    .invalid input {
        border: 1px solid red !important;
    }
    
}


@media all and (max-width: 760px) {
    #form1 {
        .title1 {
            font-size: 17px !important;
            line-height: 23px !important;
        }

        label.form-label {
            font-size: 14px;
        }
    }
}
