<div class="main" style="background: #aca795 url('assets/fundo.png') no-repeat;">

    <img src="assets/logo.png" class="logo">

    <ngx-bootstrap-spinner></ngx-bootstrap-spinner>
    <app-form1></app-form1>


    
</div>