* {
    font-family: 'Roboto', sans-serif;
}


.main {
    margin-top: -10px;
    min-height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    background-size: cover !important;
}

img.logo {
    width: 100%;
    max-width: 1051px;
}

@media all and (max-width: 760px) {
    .main {
        background-attachment: fixed !important;
    }
}